<div class="container">
    <form [formGroup]="reactiveForm" (ngSubmit)="printReactiveForm()">
        <div class="mb-3">
            <label class="form-label" for="date" >Fecha del Formulario</label>
            <input class="form-control" name="date" formControlName="date" type="date" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id" >ID</label>
            <input class="form-control" name="id" formControlName="id" type="text" />
            <small class="input--invalid" *ngIf="idValid">El ID esta ocupado actualmente</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="nombre" >Nombre</label>
            <input class="form-control" name="nombre" formControlName="name" type="text" />
            <small class="input--invalid" *ngIf="nameValid">El nombre es incorrecto</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email" >Email</label>
            <input class="form-control" name="email" formControlName="email" type="text" />
            <small class="input--invalid" *ngIf="emailValid">El email esta incorrecto</small>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button><br>
        <input class="form-control" type="text" [value]="reactiveForm.status" />
    </form>
</div>